{% extends ':email:base.html.twig' %}
{% block content %}
<h1 style="font-size:30px; line-height:40px; font-weight: bold; font-family: Helvetica, Arial, sans-serif;">Nieuw wachtwoord</h1>
<span style="font-size:16px; font-family: Helvetica, Arial, sans-serif; line-height: 24px;">
	Je hebt een nieuw wachtwoord aangevraagd. Klik op de onderstaande link om een nieuw wachtwoord te registreren.<br /><br />

	Als je geen aanvraag hebt ingediend om je wachtwoord te resetten dan kan je deze mail negeren.
{#{{ 'email.passwordreset.intro'|trans({}, 'email') }}<br>#}
{#{{ 'email.passwordreset.text'|trans({}, 'email') }}<br><br>#}
<br /><br />
	<a href="{{ recovery_url }}" style="text-decoration: underline; font-weight: bold;">Link reset wachtwoord</a>
</span>
{% endblock %}