<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Push</title>
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <style type="text/css">
            .logo {
                width: 150px;
                height: 179px;
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -75px;
                margin-top: -90px;
            }
        </style>
    </head>
    <body>
        <img src="{{ asset('bundles/app/images/logo_mail.png') }}" class="logo">
    </body>
</html>
