{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h2>Password reset success</h2>
    <p>
        Your password has been updated, you can now login in the app with your new password.
    </p>
{% endblock %}