{% extends '@App/layout.html.twig' %}
{% block content %}
    <p>
        Hi!
    </p>
    <p>
        There was an error processing your request. Probably the requested task has already been accepted or declined.<br>
        If you do not agree with this, please contact us.
    </p>
{% endblock %}