{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>About Push</h1>
    <br/>
    Everybody wants to get ahead and see their dreams come to life, but that can sometimes be… difficult.
    <br/>
    <br/>
    <p>
    Push has multiple, unique features that will help you move forward faster than you could have ever imagined. Set your own goals or follow our plans and Push will commit you to it!
    </p>
    <p>
        Check out our blog now at:<br />
        <a href="www.pleasepush.me" title="Please push">www.pleasepush.me</a>
    </p>
    <p>
        Contact us for support via <a href="mailto:hello@pleasepush.me" title="Contact">hello@pleasepush.me</a>
    </p>
    <p>
        Push is part of Goals Group BV.
    </p>
    <h3>Contact details</h3>
    <p>
        Goals Group BV <br />
        High Tech Campus 1 <br />
        The Netherlands <br />
        <a href="mailto:hello@goalsgroupbv.com" title="Contact">hello@goalsgroupbv.com</a> <br />
    </p>
{% endblock %}