{% extends 'AppBundle::layout.html.twig' %}


{% block content %}

    <h1>Join Group</h1>
    <br/>
    <h2>click <a  class="group-link" href="{{ url }}">here</a> to join group</h2>
    <br/>     

{% endblock %}



